@{
    ViewData["Title"] = "BookStore";
    Layout = "~/Views/Shared/BookStoreLayout.cshtml";

}


<!-- start landing -->
<body>
    <div class="landing w-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 text-lg-start text-center">
                    <div class="head-title mt-5 pt-5">
                        <h1>Read,</h1>
                        <h1>Explore,</h1>
                        <h1>Enjoy</h1>
                        <p class="mt-lg-5 mt-3">
                            It is a long established fact that a reader will bedistracted by
                            the readable content of
                        </p>
                    </div>
                    <div class="btn main-btn mb-5">Contact Us</div>
                </div>
                <div class="col-lg-6">
                    <img class="img-fluid mt-lg-5 pt-lg-5 pb-5"
                         src="~/images/photo-1519764340700-3db40311f21e-removebg-preview.png"
                         alt="" />
                </div>
            </div>
        </div>
    </div>
    <!-- end landing -->
    <!-- start about -->
    <div class="about pt-5 mt-5" id="about">
        <div class="container">
            <div class="row text-lg-start text-center">
                <div class="col-lg-6 col-md-7 col-sm-6">
                    <img class="img-fluid ms-lg-5" src="~/images/Book_001_1.jpg" alt="" />
                </div>
                <div class="col-lg-6 col-md-5 col-sm-6">
                    <div class="title mt-5 pt-5 me-lg-5">
                        <h1 class="mb-4">About Us</h1>
                        <p class="mb-4">
                            There are many variations of passages of Lorem Ipsum available,
                            but the majority have suffered alteration in some form, by
                            injected humour, or randomised
                        </p>
                        <div class="btn main-btn mb-5">Read More</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end about -->
    <!-- start work -->
    <div class="work pt-5 mt-5" id="work">
        <div class="container">
            <div class="row text-center">
                <div class="title">
                    <h1>Our Best Books</h1>
                    <p class="mb-4 mt-4">
                        There are many variations of passages of Lorem Ipsum available,
                        but the majority have suffered alteratio
                    </p>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="box mt-3">
                        <h5 class="mt-3 mb-3">Book 1</h5>
                        <img class="img-fluid mb-3"
                             src="~/images/karen-zhao-2bqXqr4GeCg-unsplash-removebg-preview.png"
                             alt="" />
                        <p>$14.00</p>
                        <button class="btn btns main-btn mb-4 btn-one">
                            More Details
                        </button>
                        <div class="info popup-box d-none book-one">
                            <div class="bookinfo">
                                <h3>book one</h3>
                                <div class="rate">
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                </div>
                                <span class="span1">Author :</span>
                                <span class="span2">Ahmed</span>
                                <span class="span1">Language :</span>
                                <span class="span2">spanish</span>
                                <span class="span1">pages :</span>
                                <span class="span2">174</span>
                                <div class="description"></div>
                                <h5>description :</h5>
                                <p class="dec">
                                    Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                                    Deleniti molestiae dolorum delectus necessitatibus, pariatur
                                    cum facere animi quaerat vero placeat consequuntur nihil
                                    sapiente, fugit dolorem nam consectetur doloribus voluptate
                                    quibusdam.
                                </p>
                            </div>
                            <div class="bookimg">
                                <img src="~/images/karen-zhao-2bqXqr4GeCg-unsplash-removebg-preview.png"
                                     alt="" />
                            </div>
                            <div class="icon">
                                <i class="fa-solid fa-circle-xmark"></i>
                            </div>
                            <div class="line"></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="box mt-3">
                        <h5 class="mt-3 mb-3">Book 2</h5>
                        <img class="img-fluid mb-3"
                             src="~/images/morgan-housel-aZ_MmSmAcjg-unsplash-removebg-preview.png"
                             alt="" />
                        <p>$23.50</p>
                        <button class="btn btns main-btn mb-4 btn-two">
                            More Details
                        </button>
                        <div class="info popup-box d-none book-two">
                            <div class="bookinfo">
                                <h3>book two</h3>
                                <div class="rate">
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                </div>
                                <span class="span1">Author :</span>
                                <span class="span2">Abouelenen</span>
                                <span class="span1">Language :</span>
                                <span class="span2">English</span>
                                <span class="span1">pages :</span>
                                <span class="span2">250</span>
                                <div class="description"></div>
                                <h5>description:</h5>
                                <p class="dec">
                                    Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                                    Deleniti molestiae dolorum delectus necessitatibus, pariatur
                                    cum facere animi quaerat vero placeat consequuntur nihil
                                    sapiente, fugit dolorem nam consectetur doloribus voluptate
                                    quibusdam.
                                </p>
                            </div>
                            <div class="bookimg">
                                <img src="~/images/morgan-housel-aZ_MmSmAcjg-unsplash-removebg-preview.png"
                                     alt="" />
                            </div>
                            <div class="icon">
                                <i class="fa-solid fa-circle-xmark"></i>
                            </div>
                            <div class="line"></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 col-sm-6">
                    <div class="box mt-3">
                        <h5 class="mt-3 mb-3">Book 3</h5>
                        <img class="img-fluid mb-3"
                             src="~/images/matt-ridley-H-LIL57PHCc-unsplash-removebg-preview.png"
                             alt="" />
                        <p>$10.99</p>
                        <button class="btn btns main-btn mb-4 btn-three">
                            More Details
                        </button>
                        <div class="info popup-box d-none book-three">
                            <div class="bookinfo">
                                <h3>book three</h3>
                                <div class="rate">
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star"></span>
                                </div>
                                <span class="span1">Author :</span>
                                <span class="span2">Eslam</span>
                                <span class="span1">Language :</span>
                                <span class="span2">English</span>
                                <span class="span1">pages :</span>
                                <span class="span2">146</span>
                                <div class="description"></div>
                                <h5>description:</h5>
                                <p class="dec">
                                    Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                                    Deleniti molestiae dolorum delectus necessitatibus, pariatur
                                    cum facere animi quaerat vero placeat consequuntur nihil
                                    sapiente, fugit dolorem nam consectetur doloribus voluptate
                                    quibusdam.
                                </p>
                            </div>
                            <div class="bookimg">
                                <img src="~/images/matt-ridley-H-LIL57PHCc-unsplash-removebg-preview.png"
                                     alt="" />
                            </div>
                            <div class="icon">
                                <i class="fa-solid fa-circle-xmark"></i>
                            </div>
                            <div class="line"></div>
                        </div>
                    </div>
                </div>
                <div class="pt-5">
                    <div class="btn main-btn mb-5">Read More</div>
                </div>
            </div>
        </div>
    </div>
    <!-- end work -->
    <!-- start subscribe  -->
    <div class="mt-5 pt-5 pb-5 text-lg-start text-center subscribe" id="shop">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 mt-5">
                    <div class="title">
                        <h1 class="mb-3 mt-4">Subscribe Newsletter</h1>
                        <input class="form-control mt-4 mb-3"
                               type="email"
                               placeholder="Enter Your Email" />
                        <div class="btn main-btn mt-4 mb-5">Subscribe Now</div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 mt-lg-4 mt-5">
                    <img class="img-fluid"
                         src="~/images/ahmed-almakhzanji-kshkB1i5_5o-unsplash-removebg-preview.png"
                         alt="" />
                </div>
            </div>
        </div>
    </div>
    <!-- end subscribe  -->
    <!-- start contact  -->
    <div class="contact pt-5 mt-5" id="contact">
        <div class="container">
            <div class="row text-center">
                <div class="title">
                    <h1 class="mb-5">Contact Us</h1>
                </div>
                <div class="col-lg-5 col-md-6 col-sm-6">
                    <div class="mb-3 mt-lg-5">
                        <input type="text"
                               class="form-control"
                               id="formGroupExampleInput"
                               placeholder="Name" />
                    </div>
                    <div class="mb-3">
                        <input type="text"
                               class="form-control"
                               id="formGroupExampleInput2"
                               placeholder="Email" />
                    </div>
                    <div class="mb-3">
                        <input type="text"
                               class="form-control"
                               id="formGroupExampleInput2"
                               placeholder="Phone Number" />
                    </div>
                    <div class="mb-3">
                        <input type="text"
                               class="form-control"
                               id="formGroupExampleInput2"
                               placeholder="Message" />
                    </div>
                    <div class="text-center">
                        <div class="btn main-btn mt-4 mb-5">Send</div>
                    </div>
                </div>
                <div class="col-lg-7 col-md-6 col-sm-6">
                    <img class="img-fluid d-lg-block" src="~/images/contact.jpg" alt="" />
                </div>
            </div>
        </div>
    </div>
    <!-- end contact  -->
    <!-- end footer  -->
    <footer class="mt-5">
        <div class="container">
            <div class="row text-center">
                <p class="pt-4">2023 All Rights Reserved. Design by Our Team</p>
            </div>
        </div>
    </footer>

<!-- end footer  -->
</body>