@{
    ViewData["Title"] = "BookStore";
}

<body style="background:#bab9bb">
    <div class="landing">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 text-lg-start text-center">
                    <div class="head-title mt-5 pt-5">
                        <h1>Read,</h1>
                        <h1>Explore,</h1>
                        <h1>Enjoy</h1>
                        <p class="mt-lg-5 mt-3">
                            It is a long established fact that a reader will bedistracted by
                            the readable content of
                        </p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <img class="img-fluid mt-lg-5 pt-lg-5 pb-5"
                         src="images/photo-1519764340700-3db40311f21e-removebg-preview.png"
                         alt="" />
                </div>
            </div>
        </div>
    </div>
</body>